<div class="post-list">
  <h2 class="title">Publicaciones</h2>
  
  <!-- Botón para crear publicación -->
  <button class="create-post-btn"> 
    <a routerLink="/create-post" routerLinkActive="router-link-active">
      Crear publicación
    </a>
  </button>

  <!-- Post cards -->
  <div *ngFor="let post of posts$ | async" class="post-card">
    <h3 class="post-title">{{ post.name }}</h3>
    <img 
      [src]="post.imageBase64" 
      alt="Imagen de la publicación" 
      class="post-image"
    />
    <p class="post-date">Creado el: {{ post.createdAt.toDate() | date: 'medium' }}</p>
    <p (click)="openCommentsModal(post)" class="comment-link">Comentarios ({{ post.comments.length }})</p>

    <!-- Mostrar el contador de "Me gusta" -->
    <p class="like-count">{{ post.likes }} Me gusta</p>

    <!-- Modal -->
    <div *ngIf="selectedPost && selectedPost.id === post.id" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeCommentsModal()">×</span>
        <h4>Comentarios</h4>
        <div *ngFor="let comment of selectedPost.comments; let i = index" class="comment-item">
          <p>{{ comment }}
            <button (click)="editComment(post, i)" class="edit-btn">Editar</button>
            <button (click)="deleteComment(post, i)" class="delete-btn">Borrar</button>
          </p>
        </div>
        <div class="comment-section">
          <textarea 
            [(ngModel)]="userComments[selectedPost.id]" 
            placeholder="Escribe un comentario..." 
            rows="2"
            class="comment-input"
          ></textarea>
          <button (click)="submitComment(selectedPost)" class="submit-comment-btn">💬 Enviar comentario</button>
        </div>
      </div>
    </div>

    <!-- Interacción con el post -->
    <div class="post-interaction">
      <button 
        (click)="likePost(post)" 
        [ngStyle]="{ 'background-color': post.liked ? '#1db954' : '#f8d7da' }"
        class="like-btn"
      >
        Me gusta
      </button>

      <!-- Botón para eliminar publicación 
      <button 
        (click)="deletePost(post)" 
        class="delete-post-btn"
        style="background-color: #f8d7da; color: #721c24; margin-top: 10px; display: block; margin: 10px auto;"
      >
        Eliminar publicación
      </button>
      -->
    </div>
  </div>
</div>
